.input-password-content {
  position: relative;
}

.input-password-content input {
  display: block;
  width: 100%;
  padding-right: 34px;
}

.input-password-content button {
  position: absolute;
  top: 4px;
  right: 7px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

.input-password-content button i {
  font-size: 14px;
}
