.cat-tab-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 30px;
  margin: 0 5px;
  border: 1px solid var(--shadow-color);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  cursor: pointer;
  transition: .1s;
}

.cat-tab-item:first-child {
  margin-left: 0;
}

.cat-tab-item:last-child {
  margin-right: 0;
}

.cat-tab-item:hover,
.cat-tab-item.active {
  background-color: var(--tab-bg);
  color: var(--tab-c);
  font-weight: bold;
}

.cat-tab-item-content {
  position: absolute;
  display: block;
  left: 100%;
  border-top: 1px solid var(--shadow-color);
  width: 100%;
  transition: .1s;
}

.cat-tab-item-content.active {
  left: 0;
}
