<cat-toolbar [config]="getToolbarInfo()"></cat-toolbar>

<div class="buttons-content">
  <h2>Botões Preenchidos</h2>

  <div class="btn-group">
    <cat-primary-button>Primary</cat-primary-button>
    <cat-secondary-button>Secondary</cat-secondary-button>
    <cat-success-button>Success</cat-success-button>
    <cat-warning-button>Warning</cat-warning-button>
    <cat-danger-button>Danger</cat-danger-button>
    <cat-info-button>Info</cat-info-button>
  </div>

  <h2>Botões em borda</h2>

  <div class="btn-group">
    <cat-primary-button [outline]="true">Primary</cat-primary-button>
    <cat-secondary-button [outline]="true">Secondary</cat-secondary-button>
    <cat-success-button [outline]="true">Success</cat-success-button>
    <cat-warning-button [outline]="true">Warning</cat-warning-button>
    <cat-danger-button [outline]="true">Danger</cat-danger-button>
    <cat-info-button [outline]="true">Info</cat-info-button>
  </div>
</div>
