<cat-toolbar [config]="getToolbarInfo()"></cat-toolbar>

<div class="buttons-content">
  <h2>Botões Preenchidos</h2>

  <cat-primary-button class="mr-8">Primary</cat-primary-button>
  <cat-secondary-button class="mr-8">Secondary</cat-secondary-button>
  <cat-success-button class="mr-8">Success</cat-success-button>
  <cat-warning-button class="mr-8">Warning</cat-warning-button>
  <cat-danger-button class="mr-8">Danger</cat-danger-button>
  <cat-info-button class="mr-8">Info</cat-info-button>

  <h2>Botões em borda</h2>

  <cat-primary-button class="mr-8" [outline]="true">Primary</cat-primary-button>
  <cat-secondary-button class="mr-8" [outline]="true"
    >Secondary</cat-secondary-button
  >
  <cat-success-button class="mr-8" [outline]="true">Success</cat-success-button>
  <cat-warning-button class="mr-8" [outline]="true">Warning</cat-warning-button>
  <cat-danger-button class="mr-8" [outline]="true">Danger</cat-danger-button>
  <cat-info-button class="mr-8" [outline]="true">Info</cat-info-button>
</div>
