.cat-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .2);
  z-index: 1003;
}

.cat-dialog .cat-dialog-content {
  border-radius: 10px;
  border: 1px solid var(--shadow-color);
  background-color: var(--bg-body);
  display: flex;
  flex-direction: column;
}

.cat-dialog .cat-dialog-content .cat-modal-header:has(div) {
  padding: 5px 15px;
  border-bottom: 1px solid var(--shadow-color);
}

.cat-dialog .cat-dialog-content .cat-modal-content:has(div) {
  padding: 10px 15px;
  overflow: auto;
  overflow-x: hidden;
  max-width: 75vw;
  max-height: 75vh;
}

.cat-dialog .cat-dialog-content .cat-modal-actions:has(div) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
  border-top: 1px solid var(--shadow-color);
}
