<div
  *ngIf="updateComponent$ | async"
  class="has-validation"
  [ngClass]="{ invalid: control?.invalid && control?.touched }"
>
  <div
    class="file-drag-drop-area"
    catDragDrop
    *ngIf="control && fieldConfig"
    [ngClass]="{ invalid: control.invalid && control.touched }"
    (fileDropped)="emitFiles($event)"
  >
    <input type="hidden" [formControl]="control" />
    <input
      #inputElement
      type="file"
      class="d-none"
      [multiple]="fieldConfig.multiple"
      [accept]="getSupportedExtensions()"
      (change)="emitFiles(inputElement.files)"
    />

    <div class="placeholder-content">
      <i class="fa-solid fa-file-circle-plus"></i>
      <h2>Arraste e Solte aqui ou clique no botão abaixo</h2>
      <span *ngIf="fieldConfig.accept" class="extensions-accepted">
        <strong>Suporta apenas os formatos</strong>
        ({{ getSupportedExtensions() }})
      </span>
    </div>

    <div class="btn-group" role="group" [attr.aria-label]="fieldConfig.label">
      <button
        *ngIf="hasCsvModel()"
        type="button"
        class="btn btn-secondary"
        (click)="downloadCsvModel()"
      >
        <i class="fa-solid fa-file-csv mr-8"></i>
        Baixar modelo
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="inputElement.click()"
      >
        <i
          *ngIf="fieldConfig.icon"
          class="mr-8"
          [ngClass]="fieldConfig.icon"
        ></i>
        {{ fieldConfig.btnText ?? "Escolha um arquivo..." }}
      </button>
    </div>

    <div *ngIf="!fieldConfig.hideSelectedFilesList" class="files-content">
      <ng-container
        *ngIf="!fieldConfig.customSelectedFilesList; else customFileContent"
      >
        <div
          class="file-content"
          *ngFor="let file of files; let i = index"
          [ngClass]="{ invalid: !hasValidExtension(file.filename) }"
        >
          <strong>{{ file.filename }}</strong>
          <button (click)="removeFile(i)" class="btn-remove" type="button">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </ng-container>

      <ng-template #customFileContent>
        <cat-dynamic-component
          [component]="getFilesToCustomList()"
        ></cat-dynamic-component>
      </ng-template>
    </div>
  </div>

  <cat-form-field-common-errors [control]="control" [config]="fieldConfig">
    <ng-container specificErrors>
      <div *ngIf="control?.errors?.['fileInvalid']" class="invalid-feedback">
        <i class="fa-solid fa-triangle-exclamation"></i>
        Arquivo de extensão inválida.
      </div>
      <div *ngIf="errorMultipleNotAllowed" class="invalid-feedback">
        <i class="fa-solid fa-triangle-exclamation"></i>
        Só é permitido o envio de apenas 1 arquivo.
      </div>
    </ng-container>
  </cat-form-field-common-errors>
</div>
