.dialog-size-small .cat-dialog-content {
  width: 25vw;
}

.dialog-size-medium .cat-dialog-content {
  width: 50vw;
}

.dialog-size-big .cat-dialog-content {
  width: 75vw;
}

.cat-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(13.5px);
  box-shadow: 0 8px 32px 0 var(--shadow-color);
  z-index: 1003;
}

.cat-dialog .cat-dialog-content {
  border-radius: 10px;
  background-color: var(--bg-dialog);
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
}

.cat-dialog .cat-dialog-content .cat-modal-header:has(div) {
  padding: 5px 15px;
  border-bottom: 1px solid var(--shadow-color);
}

.cat-dialog .cat-dialog-content .cat-modal-content:has(div) {
  padding: 10px 15px;
  overflow: auto;
  overflow-x: hidden;
  max-width: 75vw;
  max-height: 75vh;
}

@media (max-width: 980px) {
  .cat-dialog .cat-dialog-content .cat-modal-content:has(div) {
    max-width: 100vw;
    max-height: 100vh;
  }
}

.cat-dialog .cat-dialog-content .cat-modal-actions:has(div) > * {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
  border-top: 1px solid var(--shadow-color);
}

.cat-dialog .cat-dialog-content .cat-modal-actions:has(div.cat-confirm-actions) > *,
.cat-dialog .cat-dialog-content .cat-modal-actions:has(div.cat-alert-actions) > * {
  justify-content: center;
}

@media (max-width: 980px) {
  .cat-dialog-content {
    width: 95vw !important;
  }
}
