.spinner-border {
  --bs-spinner-animation-speed: 0.6s;
}

.spinner-border {
  width: var(--spinner-width);
  height: var(--spinner-height);
  border: 2px solid var(--primary-color);
  border-right-color: transparent;
  position: absolute;
  z-index: 1;
}

.spinner-border-bg {
  width: var(--spinner-width);
  height: var(--spinner-height);
  border: 2px solid var(--primary-color-alpha);
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

button .loader-content,
button .spinner-border,
button .spinner-border-bg {
  --spinner-width: 1.2rem;
  --spinner-height: 1.2rem;
  --primary-color-alpha: #ccc;
  --primary-color: #f1f1f1;
}

.loader-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--spinner-width);
  height: var(--spinner-height);
}
