.cat-stepper-group-content cat-step {
  width: 100%;
  counter-increment: step;
}

.cat-stepper-group-content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}

.cat-stepper-group-content.horizontal {
  flex-direction: row;
}

.cat-stepper-group-content.vertical {
  flex-direction: column;
}

cat-stepper cat-step:last-child .cat-step-item-content.active {
  border: none;
}

cat-stepper .vertical .cat-step-item-content.active {
  border-left: 1px solid var(--shadow-color);
  height: auto;
}

cat-stepper .horizontal .cat-step-item-content {
  left: 100%;
  position: absolute;
  height: auto;
}

cat-stepper .horizontal .cat-step-item-content.active {
  left: 0;
  width: calc(100% - 44px);
}

cat-stepper .cat-step-item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  z-index: 1;
}

cat-stepper .cat-step-item::before {
  content: counter(step);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 0.836rem;
  background-color: var(--step-bg);
  color: var(--step-c);
  margin-right: 10px;
}

cat-stepper .cat-step-item.active::before {
  background-color: var(--step-active-bg);
  color: var(--step-active-c);
  font-weight: bold;
}

cat-stepper .cat-step-item-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 22px;
  padding-left: 23px;
  height: 0;
  width: calc(100% - 22px);
  overflow: hidden;
}

cat-stepper .cat-step-item-content .cat-step-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--shadow-color);
  box-sizing: border-box;
  padding: 10px 0;
}

cat-stepper .cat-step-item-content .cat-step-content {
  box-sizing: border-box;
  padding: 10px 0;
}
