.cat-tab-group-content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.cat-tab-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 30px;
  margin: 0 5px;
  border: 1px solid var(--shadow-color);
  background-color: var(--bg-body) 0.6;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  cursor: pointer;
}

.cat-tab-item:first-child {
  margin-left: 0;
}

.cat-tab-item:last-child {
  margin-right: 0;
}

.cat-tab-item:hover,
.cat-tab-item.active {
  border: 0;
  background-color: var(--tab-bg);
  color: var(--tab-c);
  font-weight: bold;
  transition: 0.2s;
}

.cat-tab-item-content {
  position: absolute;
  display: block;
  left: calc(100% + 40px);
  border: 1px solid var(--shadow-color);
  border-radius: 8px;
  width: 100%;
  transition: 0.1s;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1;
}

.cat-tab-item-content.active {
  left: 0;
}
