cat-template-mobile .template-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--bg-menu-active);
  width: 100vw;
}

cat-template-mobile .template-content aside {
  position: absolute;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  top: 10px;
  left: calc((100vw - 20px) * -1);
  max-width: calc(100vw - 20px);
  padding: 40px 20px 20px;
  transition: ease-in-out .2s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(50px);
  box-shadow: 0 8px 32px 0 var(--shadow-color);
  border-radius: 8px;
  z-index: 99999;
}

cat-template-mobile cat-menu nav .menu-container {
  padding: 8px 8px 0 8px;
}

cat-template-mobile cat-menu cat-menu-module ul li {
  border-radius: 28px;
}
cat-template-mobile cat-menu cat-menu-module ul li::after,
cat-template-mobile cat-menu cat-menu-module ul li::before {
  width: 0!important;
  height: 0!important;
  display: none;
}

cat-template-mobile cat-menu cat-menu-tool ul li.tool a {
  padding: 10px 25px!important;
}

cat-template-mobile cat-menu ul li a span {
  font-size: 1rem !important;
}

cat-template-mobile cat-menu cat-menu-module ul li.module a i {
  font-size: 1.17rem!important;
  margin-right: 15px!important;
}

cat-template-mobile .template-content aside.show {
  left: 10px;
}

cat-template-mobile .template-content aside:not(.show) {
  padding: 15px 0 0;
}

cat-template-mobile .template-content aside:not(.show) .logotype {
  width: 40px;
}

cat-template-mobile .template-content aside .space {
  flex: 1 0 0;
}

cat-template-mobile .template-content aside .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
}

cat-template-mobile .template-content section#cat-content-app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: var(--bg-menu-active);
  padding: 20px 15px 80px;
}

cat-template-mobile .logotype {
  width: 80px;
  transition: ease-in-out .2s;
}

cat-template-mobile .btn-menu-collapse {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  border-radius: 50%;
  transition: ease-in-out .2s;
  padding: 0;
  color: var(--primary-color);
  z-index: 1;
}

cat-template-mobile .btn-menu-collapse:hover {
  color: var(--btn-icon-c-primary);
}

cat-template-mobile .toolbar-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px 10px 0;
  width: calc(100% - 20px);
  height: 60px;
  background-color: var(--bg-body);
  border-radius: 120px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.2);
  gap: 8px;
  bottom: 10px;
  z-index: 1003;
}

cat-template-mobile .toolbar-content div[menu-toolbar] {
  margin: 0;
  background-color: transparent;
}

cat-template-mobile .toolbar-content button {
  background-color: transparent;
  color: var(--font-color);
  border: none;
  margin: 0 10px;
  font-size: 1.25rem;
}

cat-template-mobile cat-form-list-item fieldset .title {
  flex-direction: column;
  gap: 12px;
}
