cat-menu nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 20px 15px 0 10px;
  position: relative;
  left: -1px;
}

cat-menu nav:not(.collapsed) {
  width: 56px;
  padding: 20px 8px 10px;
  align-items: center;
}

cat-menu nav .menu-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  border: var(--menu-border);
}

cat-menu nav .menu-container cat-menu-module,
cat-menu nav .menu-container cat-menu-tool {
  width: 100%;
}

cat-menu cat-menu-module ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
}

cat-menu cat-menu-module ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--c-menu);
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 2px 0;
  transition: 0.1s;
}

cat-menu cat-menu-module ul li:hover {
  background: var(--bg-menu-hover);
  color: var(--c-menu-hover);
}

cat-menu cat-menu-module ul li:active {
  background: var(--bg-menu-active);
  color: var(--c-menu-active);
}

cat-menu cat-menu-module ul.collapsed li.has-tools::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 0.625rem;
  transition: 0.1s;
}

cat-menu cat-menu-module ul.collapsed li.has-tools.collapsed::after {
  rotate: 90deg;
}

cat-menu cat-menu-module ul li.module a {
  font-size: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  transition: 0.1s linear;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--c-menu);
}

cat-menu cat-menu-module ul:not(.collapsed) li.module a {
  display: flex;
  justify-content: center;
  align-items: center;
}

cat-menu cat-menu-module ul:not(.collapsed) li.module a.active {
  color: var(--c-menu-active);
}

cat-menu cat-menu-module ul:not(.collapsed) li {
  border-radius: 6px;
}

cat-menu cat-menu-module ul.collapsed li.module a {
  font-size: 0.836rem;
  padding: 5px 10px;
  text-align: left;
}

cat-menu cat-menu-module ul li.module a i {
  margin: 0;
  padding: 8px;
}

cat-menu cat-menu-module ul.collapsed li.module a i {
  margin-right: 8px;
  font-size: 0.836rem;
  padding: 0;
}

cat-menu cat-menu-module ul.collapsed li.module.active {
  color: var(--c-menu-active);
}

cat-menu cat-menu-module ul li.module.active {
  border: none;
  color: var(--c-menu-active);
  background-color: var(--bg-menu-active);
  z-index: 1;
}

cat-menu cat-menu-module ul li.has-tools cat-menu-tool {
  height: 0;
  overflow: hidden;
}

cat-menu cat-menu-module ul.collapsed li.has-tools.collapsed cat-menu-tool {
  height: auto;
}

cat-menu cat-menu-tool ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
}

cat-menu cat-menu-tool ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--c-menu);
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-menu);
  transition: 0.1s;
}

cat-menu cat-menu-tool ul li:hover {
  background: var(--bg-menu-hover);
  color: var(--c-menu-hover);
}

cat-menu cat-menu-tool ul li:active {
  background: var(--bg-menu-active);
  color: var(--c-menu-active);
}

cat-menu cat-menu-tool ul li.tool {
  background: transparent;
}

cat-menu cat-menu-tool ul li.tool a {
  font-size: 0.836rem;
  width: 100%;
  text-align: left;
  margin: 0;
  transition: 0.1s linear;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: var(--c-menu);
}

cat-menu cat-menu-tool ul li.tool a i {
  margin-right: 8px;
}

cat-menu cat-menu-tool ul li.tool .active {
  color: var(--c-menu-active);
}

cat-menu cat-menu-tool ul li.has-tools::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 0.625rem;
  transition: 0.1s;
}

cat-menu cat-menu-tool ul li.has-tools.collapsed::after {
  rotate: 90deg;
}

cat-menu cat-menu-tool ul li.has-tools cat-menu-tool {
  height: 0;
  overflow: hidden;
}

cat-menu cat-menu-tool ul li.has-tools.collapsed cat-menu-tool {
  height: auto;
}