.cat-tab-group-content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}

.cat-tab-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 20px;
  margin: 0 2px;
  font-size: var(--font-size-small);
  font-weight: 600;
  border: 1px solid var(--shadow-color);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.1s;
}

.cat-tab-item:first-child {
  margin-left: 0;
}

.cat-tab-item:last-child {
  margin-right: 0;
}

.cat-tab-item:hover,
.cat-tab-item.active {
  background-color: var(--tab-bg);
  color: var(--tab-c);
  opacity: 1;
}

.cat-tab-item-content {
  position: absolute;
  display: block;
  left: calc(100% + 40px);
  border-top: 1px solid var(--shadow-color);
  width: 100%;
  transition: 0.1s;
}

.cat-tab-item-content.active {
  left: 0;
}
