cat-template-desktop .template-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
}

cat-template-desktop .template-content aside {
  position: relative;
  height: 100vh;
  width: 60px;
  max-width: 300px;
  padding: 16px 0 0;
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid var(--shadow-color);
}

cat-template-desktop .template-content aside.show {
  width: 300px;
}

cat-template-desktop .template-content aside:not(.show) {
  padding: 15px 0 0;
}

cat-template-desktop .template-content aside:not(.show) .logotype {
  width: 40px;
}

cat-template-desktop .template-content aside .space {
  flex: 1 0 0;
}

cat-template-desktop .template-content aside .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
}

cat-template-desktop .template-content section#cat-content-app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}

cat-template-desktop .logotype {
  width: 80px;
  transition: ease-in-out 0.2s;
}

cat-template-desktop .btn-menu-collapse {
  position: absolute;
  top: 46px;
  right: -10px;
  background-color: var(--bg-body);
  border: 1px solid var(--shadow-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  padding: 0;
  color: var(--primary-color);
  z-index: 1;
}

cat-template-desktop .btn-menu-collapse i {
  font-size: 0.625rem;
}

cat-template-desktop .btn-menu-collapse:hover {
  background-color: var(--btn-bg-default);
  color: var(--btn-c-default);
}