<cat-toolbar [config]="getToolbarInfo()"></cat-toolbar>

<cat-stepper direction="vertical" #stepper>
  <cat-step label="First Step">
    <div content>First</div>
    <nav actions>
      <cat-primary-button (click)="stepper.next()">Próximo</cat-primary-button>
    </nav>
  </cat-step>
  <cat-step label="Second Step">
    <div content>Second</div>
    <nav actions>
      <cat-secondary-button class="mr-5" (click)="stepper.previous()">
        Voltar
      </cat-secondary-button>
      <cat-primary-button (click)="stepper.next()">Próximo</cat-primary-button>
    </nav>
  </cat-step>
  <cat-step label="Third Step">
    <div content>Third</div>
    <nav actions>
      <cat-secondary-button (click)="stepper.previous()"
        >Voltar</cat-secondary-button
      >
    </nav>
  </cat-step>
</cat-stepper>
