.cat-confirm-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0 0;
}

.cat-confirm-content i {
  font-size: 30pt;
}

.cat-confirm-content p {
  margin-top: 15px;
}

.cat-confirm-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cat-confirm-actions .divide-buttons {
  padding: 0 10px;
}
