<nav class="cat-toolbar" [ngClass]="{ 'cat-toolbar-sm': !config?.title }">
  <div *ngIf="config" class="info-content">
    <h1 *ngIf="config?.title">
      <i *ngIf="config.icon" [ngClass]="config.icon" class="mr-8"></i>
      {{ config.title }}
    </h1>
    <ol *ngIf="config?.breadcrumb" class="breadcrumb">
      <li *ngFor="let item of config.breadcrumb" class="breadcrumb-item">
        <a
          [routerLink]="item.routerLink"
          [ngClass]="{
            active: router.url === item.routerLink,
            noRoute: !item.routerLink
          }"
        >
          {{ item.name }}
        </a>
      </li>
    </ol>
  </div>
  <div *ngIf="spaceBetween" class="space"></div>
  <div class="btn-group">
    <ng-content select="nav[buttons]"></ng-content>
  </div>
</nav>
