<cat-on-demand-filter-container>
  <cat-toolbar [config]="getToolbarInfo(true)" [spaceBetween]="false">
    <nav buttons>
      <div [catOnDemandFilterTrigger]="filterConfig">
        Buscar
      </div>
    </nav>
  </cat-toolbar>
</cat-on-demand-filter-container>

<div [catOnDemandFilterSelectedOptions]="filterConfig.selectedOptions"></div>

<cat-datatable [config]="listConfig">
  <nav list-checked-actions>
    <cat-icon-button
      (click)="deleteSelected()"
      icon="fa-solid fa-trash-can"
      tooltip="Excluir Selecionados"
    />
  </nav>

  <nav list-actions>
    <cat-icon-button
      [disabled]="datasource?.length === 0"
      (click)="export('Lista de Gatos')"
      icon="fa-solid fa-download"
      tooltip="Exportar Lista"
    />
    
    <cat-icon-button 
      (click)="openDialog()"
      icon="fa-solid fa-circle-plus"
      tooltip="Incluir Gato"
    />
  </nav>
</cat-datatable>
