@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap/scss/bootstrap.scss";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@ng-select/ng-select/themes/ant.design.theme.css";

$checkbox-radio-icon-color-dark: "%23212121";
$checkbox-radio-icon-color-light: "%23f1f1f1";

:root,
main {
  --bg-body: #fff;
  --font-color: #616161;
  --light-font-color: #f1f1f1;
  --disable-color: #9a9a9a;
  --primary-color: #212121;
  --primary-color-alpha: rgba(33, 33, 33, 0.2);

  --btn-icon-bg-default: #f1f1f1;
  --btn-icon-c-default: #212121;
  --btn-icon-bg-primary: #1565c0;
  --btn-icon-c-primary: #f1f1f1;
  --btn-icon-bg-warning: #ffb300;
  --btn-icon-c-warning: #ffecb3;
  --btn-icon-bg-danger: #c62828;
  --btn-icon-c-danger: #ffcdd2;

  --btn-bg-default: #f1f1f1;
  --btn-c-default: #212121;
  --btn-bg-primary: #1565c0;
  --btn-c-primary: #f1f1f1;
  --btn-bg-warning: #ffb300;
  --btn-c-warning: #ffecb3;
  --btn-bg-danger: #c62828;
  --btn-c-danger: #ffcdd2;

  --spinner-width: 1.5rem;
  --spinner-height: 1.5rem;

  --bg-datatable-th: #f1f1f1;
  --bg-datatable-hover-bg: rgba(0,0,0,.1);
  --bg-datatable-hover-color: #000;

  --c-form-valid-field: #1976d2;
  --c-form-invalid-field: #d32f2f;
  --bg-form-invalid-field: rgba(255, 0, 0, 0.1);

  --c-tag: #f1f1f1;
  --bg-tag: #212121;

  --btn-primary-color-alpha-hover: rgba(33, 33, 33, 0.2);
  --btn-primary-color-alpha-active: rgba(33, 33, 33, 0.4);

  --fieldset-border-color: rgba(0, 0, 0, 0.1);
  --fieldset-legend-color: rgba(0, 0, 0, 0.8);

  --bg-select-option-hover-active: rgba(0, 0, 0, 0.1);

  --menu-border: none;
  --c-menu: rgba(255, 255, 255, 0.6);
  --c-menu-hover: rgba(255, 255, 255, 0.8);
  --c-menu-active: rgba(255, 255, 255, 1);
  --bg-menu: rgba(0, 0, 0, 0.8);
  --bg-menu-hover: rgba(0, 0, 0, 0.9);
  --bg-menu-active: rgba(0, 0, 0, 1);

  --bg-avatar-image: #fff;

  --shadow-color: rgba(0,0,0,.15);
}

main.dark {
  --bg-body: #212121;
  --font-color: #f1f1f1;
  --light-font-color: #ddd;
  --disable-color: #9a9a9a;
  --primary-color: #f1f1f1;
  --primary-color-alpha: rgba(255, 255, 255, 0.2);

  --btn-icon-bg-default: #212121;
  --btn-icon-c-default: #f1f1f1;
  --btn-icon-bg-primary: #1565c0;
  --btn-icon-c-primary: #f1f1f1;
  --btn-icon-bg-warning: #ffb300;
  --btn-icon-c-warning: #ffecb3;
  --btn-icon-bg-danger: #c62828;
  --btn-icon-c-danger: #ffcdd2;

  --btn-bg-default: #212121;
  --btn-c-default: #f1f1f1;
  --btn-bg-primary: #1565c0;
  --btn-c-primary: #f1f1f1;
  --btn-bg-warning: #ffb300;
  --btn-c-warning: #ffecb3;
  --btn-bg-danger: #c62828;
  --btn-c-danger: #ffcdd2;

  --spinner-width: 1.5rem;
  --spinner-height: 1.5rem;

  --bg-datatable-th: #111111;
  --bg-datatable-hover-bg: rgba(0,0,0,.3);
  --bg-datatable-hover-color: #fff;

  --c-form-valid-field: #1976d2;
  --c-form-invalid-field: #d32f2f;
  --bg-form-invalid-field: rgba(255, 0, 0, 0.2);

  --c-tag: #212121;
  --bg-tag: #f1f1f1;

  --btn-primary-color-alpha-hover: rgba(255, 255, 255, 0.2);
  --btn-primary-color-alpha-active: rgba(255, 255, 255, 0.4);

  --fieldset-border-color: rgba(255, 255, 255, 0.4);
  --fieldset-legend-color: rgba(255, 255, 255, 0.6);

  --bg-select-option-hover-active: rgba(0, 0, 0, 0.2);

  --menu-border: none;
  --c-menu: rgba(255, 255, 255, 0.6);
  --c-menu-hover: rgba(255, 255, 255, 0.8);
  --c-menu-active: rgba(255, 255, 255, 1);
  --bg-menu: rgba(0, 0, 0, 0.6);
  --bg-menu-hover: rgba(0, 0, 0, 0.8);
  --bg-menu-active: rgba(0, 0, 0, 1);

  --bg-avatar-image: #000;

  --shadow-color: rgba(255,255,255,.15);
}

/*#region [GERAL] */
* {
  font-family: OpenSans, sans-serif;
  background-color: transparent;
}
main {color: var(--font-color);}

@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans/OpenSans-Light.woff),
    url(./fonts/OpenSans/OpenSans-LightItalic.woff),
    url(./fonts/OpenSans/OpenSans-Medium.woff),
    url(./fonts/OpenSans/OpenSans-MediumItalic.woff),
    url(./fonts/OpenSans/OpenSans-SemiBold.woff),
    url(./fonts/OpenSans/OpenSans-SemiBoldItalic.woff),
    url(./fonts/OpenSans/OpenSans-Bold.woff),
    url(./fonts/OpenSans/OpenSans-BoldItalic.woff),
    url(./fonts/OpenSans/OpenSans-ExtraBold.woff),
    url(./fonts/OpenSans/OpenSans-ExtraBoldItalic.woff);
}

.dropdown-menu {
  --bs-dropdown-bg: var(--bg-body);
  --bs-dropdown-link-color: var(--font-color);
  --bs-dropdown-link-hover-color: var(--c-menu-hover);
  --bs-dropdown-link-hover-bg: var(--bg-menu-hover);
  --bs-dropdown-link-active-color: var(--c-menu-active);
  --bs-dropdown-link-active-bg: var(--bg-menu-active);
  --bs-dropdown-border-color: var(--shadow-color);
}
.dropdown-menu .dropdown-item {transition: .1s;}

.p-relative {
  position: relative !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.align-center {
  margin: 0 auto;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.float-left {
  float: left !important;
}
.float-none {
  float: inherit !important;
}
.float-right {
  float: right !important;
}
.w-100 {
  width: 100%;
}
.w-99 {
  width: 99%;
}
.w-98 {
  width: 98%;
}
.w-97 {
  width: 97%;
}
.w-96 {
  width: 96%;
}
.w-95 {
  width: 95%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-5 {
  width: 5%;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
  margin-top: 45px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-25 {
  margin-left: 25px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-35 {
  margin-left: 35px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-45 {
  margin-left: 45px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.padding-none {
  padding: 0 !important;
}
/*#endregion */
/*#region [Grid]*/
[class*="col-"] {
  box-sizing: border-box;
  display: inline-block;
  padding: 2.5px;
  position: relative;
  width: 100%;
}
.col-1 {
  flex: 0 0 calc((100% * 1) / 12);
  max-width: calc((100% * 1) / 12);
}
.col-2 {
  flex: 0 0 calc((100% * 2) / 12);
  max-width: calc((100% * 2) / 12);
}
.col-3 {
  flex: 0 0 calc((100% * 3) / 12);
  max-width: calc((100% * 3) / 12);
}
.col-4 {
  flex: 0 0 calc((100% * 4) / 12);
  max-width: calc((100% * 4) / 12);
}
.col-5 {
  flex: 0 0 calc((100% * 5) / 12);
  max-width: calc((100% * 5) / 12);
}
.col-6 {
  flex: 0 0 calc((100% * 6) / 12);
  max-width: calc((100% * 6) / 12);
}
.col-7 {
  flex: 0 0 calc((100% * 7) / 12);
  max-width: calc((100% * 7) / 12);
}
.col-8 {
  flex: 0 0 calc((100% * 8) / 12);
  max-width: calc((100% * 8) / 12);
}
.col-9 {
  flex: 0 0 calc((100% * 9) / 12);
  max-width: calc((100% * 9) / 12);
}
.col-10 {
  flex: 0 0 calc((100% * 10) / 12);
  max-width: calc((100% * 10) / 12);
}
.col-11 {
  flex: 0 0 calc((100% * 11) / 12);
  max-width: calc((100% * 11) / 12);
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
/*#endregion*/
/*#region [Forms] */
input,
select,
textarea {
  background-color: var(--bg-body) !important;
  color: var(--font-color) !important;
}
.dark input {
  color-scheme: dark;
}
.ng-select .ng-select-container {
  background-color: var(--bg-body) !important;
}
.ng-select.is-invalid .ng-select-container {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  transition: none;
}
.ng-dropdown-panel {
  background-color: var(--bg-body);
}
.ng-select .ng-arrow-wrapper .ng-arrow {
  width: 8px !important;
  height: 8px !important;
  color: var(--font-color);
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: var(--bg-body);
  color: var(--font-color);
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: var(--bg-select-option-hover-active);
  color: var(--font-color);
}
.ng-select .ng-clear-wrapper {
  cursor: pointer;
  position: relative;
  width: 17px;
  height: 17px;
  user-select: none;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
.ng-select.ng-select-clearable
  .ng-select-container.ng-has-value:hover
  .ng-clear-wrapper {
  display: flex;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  border-radius: 5px;
  color: var(--c-tag);
  background-color: var(--bg-tag);
  margin-top: 7px;
  height: 20px;
  line-height: 20px;
  font-size: 9pt;
}
input:disabled,
select:disabled {
  border-style: dashed;
  background-color: var(--disable-color);
}
.form-check-input {
  border-color: var(--font-color);
}
.form-check-input[type="checkbox"]:indeterminate,
.form-check-input:checked {
  background-color: var(--font-color) !important;
  border-color: var(--font-color) !important;
}
.dark .form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$checkbox-radio-icon-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
.dark .form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$checkbox-radio-icon-color-dark}'/></svg>");
}
.dark .form-check-input:indeterminate[type="checkbox"] {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$checkbox-radio-icon-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !important;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--primary-color-alpha);
}
.isCheckboxGroup fieldset {
  flex-wrap: nowrap !important;
}
.isCheckboxGroup fieldset legend {
  line-height: 0;
  margin: 0;
}
.isCheckboxGroup fieldset div {
  width: auto !important;
  flex: initial;
  padding-right: 5px;
}
/*#endregion */
/*#region [Datatable] */
.table {
  --bs-table-hover-bg: var(--bg-datatable-hover-bg);
  --bs-table-hover-color: var(--bg-datatable-hover-color);
}
/*#endregion */
/*#region [Paginator] */
.ngx-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 0 !important;
  padding: 0;
}
.ngx-pagination li {
  display: inline;
  border: none !important;
  font-size: 10pt;
  border-radius: 5px !important;
  margin: 0 2px;
}
.ngx-pagination li a {
  padding: 0.1875rem 0.625rem !important;
  border-radius: 5px !important;
}
.ngx-pagination li a:hover,
.ngx-pagination .current {
  background: var(--btn-bg-primary) !important;
  color: var(--btn-c-primary) !important;
}
/*#endregion*/
/*#region [Spinner] */
.spinner-border {
  --bs-spinner-animation-speed: 0.6s;
}
.spinner-border {
  width: var(--spinner-width);
  height: var(--spinner-height);
  border: 2px solid var(--primary-color);
  border-right-color: transparent;
}
.spinner-border-bg {
  width: var(--spinner-width);
  height: var(--spinner-height);
  border: 2px solid var(--primary-color-alpha);
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
}
/*#endregion*/
