<cat-form-field-content
  *ngIf="updateComponent$ | async"
  [control]="control"
  [config]="fieldConfig"
  [elInput]="elInput"
>
  <ng-container *ngIf="control && fieldConfig" field>
    <ng-select
      #inputElement
      [formControl]="control"
      [labelForId]="fieldConfig.label"
      [required]="fieldConfig.required ?? false"
      [ngClass]="{
        'is-invalid': control.invalid && !control.untouched && !control.disabled
      }"
      [loading]="loading$ | async"
      [items]="options$ | async"
      [multiple]="fieldConfig.multiple"
      [addTag]="fieldConfig.add ? setNewOption(fieldConfig) : false"
      [loadingText]="loaderText"
      [appendTo]="'main'"
      (search)="searchOnType($event.term)"
      bindLabel="name"
      bindValue="value"
      notFoundText="Nenhum registro encontrado"
      addTagText="Adicionar:"
      appearance="outline"
    >
      <ng-container *ngIf="fieldConfig.addOption?.customTemplate">
        <ng-template ng-tag-tmp let-search="searchTerm">
          <cat-dynamic-component
            [component]="getAddOptionDynamicComponent(search)"
          ></cat-dynamic-component>
        </ng-template>
      </ng-container>

      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <div style="display: flex;align-items: center;">
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          <span class="ng-value-label">
            <cat-dynamic-component *ngIf="optionIsComponent(item) else textOption" [component]="getCompomentOption(item)" />

            <ng-template #textOption>
              <span [innerHTML]="item.name"></span>
            </ng-template>
          </span>
        </div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <cat-dynamic-component
          *ngIf="optionIsComponent(item) else textOption"
          [component]="getCompomentOption(item)"
        />

        <ng-template #textOption>
          <span [innerHTML]="item.name"></span>
        </ng-template>
      </ng-template>
    </ng-select>
  </ng-container>
</cat-form-field-content>
