<nav class="cat-datatable-menu">
  <ng-container *ngIf="(selection$ | async)?.selected?.length > 0">
    <ng-content select="nav[list-checked-actions]"></ng-content>
  </ng-container>
  <ng-content select="nav[list-actions]"></ng-content>
</nav>
<div class="table-responsive table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="selection" *ngIf="config?.hasSelection">
          <div class="checkbox">
            <input
              #checkboxAll
              [checked]="isAllChecked()"
              (change)="checkAll(checkboxAll.checked)"
              [indeterminate]="isIndeterminateSelection()"
              class="form-check-input"
              type="checkbox"
            />
          </div>
        </th>
        <th
          scope="col"
          class="option"
          *ngIf="config?.hasAction"
          [style.width]="
            42 * (config?.actionButtons?.length ?? 1) + 'px!important'
          "
        ></th>
        <th
          scope="col"
          *ngFor="let column of config?.columns; let columnIndex = index"
          (click)="sort(columnIndex)"
          [ngClass]="{
            activeSelection: columnIndex >= 0,
            sortable: isSortable(columnIndex),
            sorted: columnIndex === columnIndexSort
          }"
        >
          <div class="content-header">
            {{ column }}
            <i
              *ngIf="columnIndex !== columnIndexSort && isSortable(columnIndex)"
              class="fa-solid fa-sort"
            ></i>
            <i
              *ngIf="columnIndex === columnIndexSort && !reverse"
              class="fa-solid fa-arrow-up-a-z"
            ></i>
            <i
              *ngIf="columnIndex === columnIndexSort && reverse"
              class="fa-solid fa-arrow-down-z-a"
            ></i>
          </div>
        </th>
      </tr>
    </thead>
    <ng-container>
      <tbody>
        <tr *ngIf="(loadedList$ | async) === false" class="fake-line">
          <td colspan="50">
            <ng-container
              *ngIf="config?.customLoaderComponent; else defaultLoader"
            >
              <cat-dynamic-component
                [component]="config?.customLoaderComponent"
              ></cat-dynamic-component>
            </ng-container>

            <ng-template #defaultLoader>
              <div class="datatable-loader">
                <cat-loader></cat-loader>
              </div>
            </ng-template>
          </td>
        </tr>

        <ng-container *ngIf="datatableList$ | async as datatableList">
          <ng-container
            *ngIf="datatableList.length === 0 && loadedList$ | async"
          >
            <tr class="fake-line">
              <td colspan="50">
                <ng-container
                  *ngIf="config?.customEmptyComponent; else defaultEmptyList"
                >
                  <cat-dynamic-component
                    [component]="config?.customEmptyComponent"
                  ></cat-dynamic-component>
                </ng-container>

                <ng-template #defaultEmptyList>
                  <div *ngIf="loadedList$ | async" class="empty-list-container">
                    <i class="fa-solid fa-inbox"></i>
                    Nenhum registro encontrado
                  </div>
                </ng-template>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="datatableList.length > 0 && loadedList$ | async">
            <tr
              *ngFor="
                let rowData of datatableList
                  | orderBy : orderBy : reverse
                  | paginate : getPaginateProps();
                let i = index
              "
            >
              <td class="selection" *ngIf="config?.hasSelection">
                <div class="checkbox">
                  <input
                    *ngIf="
                      (config?.disableSelectionItem &&
                        !(config?.disableSelectionItem(rowData) ?? false)) ||
                      !config?.disableSelectionItem
                    "
                    class="form-check-input"
                    [checked]="isChecked(i)"
                    (change)="toggleItem(i, rowData)"
                    type="checkbox"
                  />
                </div>
              </td>
              <td
                class="option"
                *ngIf="config?.hasAction"
                [style.width]="
                  42 * (config?.actionButtons?.length ?? 1) + 'px!important'
                "
              >
                <div class="options-content">
                  <cat-icon-button
                    *ngFor="let actionButton of getActionButtons(rowData)"
                    [icon]="actionButton.iconName"
                    [color]="actionButton.iconColor"
                    [tooltip]="actionButton.tooltip"
                    (click)="
                      actionButton.fnAction
                        ? actionButton.fnAction(rowData)
                        : null
                    "
                  >
                  </cat-icon-button>
                </div>
              </td>
              <td
                *ngFor="let column of config?.columns; let columnIndex = index"
                [ngClass]="{ sorted: columnIndex === columnIndexSort }"
                [style.width]="getItemLine(columnIndex).customWidthColumn"
              >
                <cat-dynamic-component
                  *ngIf="
                    getItemLineComponent(
                      columnIndex,
                      rowData
                    ) as dynamicComponent;
                    else tableCellDateText
                  "
                  [component]="dynamicComponent"
                >
                </cat-dynamic-component>
                <ng-template #tableCellDateText>
                  {{ this.getItemLineText(columnIndex, rowData) }}
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </ng-container>
    <tfoot *ngIf="config">
      <tr>
        <td [attr.colspan]="getFooterColspan()" class="text-left">
          <div class="page-size-content">
            <label>Itens por página: </label>
            <select
              class="form-select form-select-sm"
              [(ngModel)]="config.limitItemPerPage"
              (change)="handlePageSizeChange()"
            >
              <option selected [ngValue]="10">10</option>
              <option [ngValue]="30">30</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
            </select>
          </div>
        </td>
        <td colspan="50">
          <div class="pagination-content">
            <span class="page-info">
              {{ currentPage > 1
                ? ((totalItemsPage ?? 0) * (currentPage - 1)) + 1
                : currentPage}} -
              {{ ((totalItemsPage ?? 0) * currentPage > getPaginateProps().totalItems
                ? (totalItemsPage ?? 0) * currentPage
                : getPaginateProps().totalItems) }} de
              {{ getPaginateProps().totalItems }}
            </span>
            <pagination-controls
              class="my-pagination"
              previousLabel="Anterior"
              nextLabel="Próximo"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
