.cat-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 0.919rem;
  transition: .2s;
  opacity: .7;
  background-color: var(--btn-icon-bg-default);
  color: var(--btn-icon-c-default);
}

.cat-icon-button:hover {
  opacity: .9;
}

.cat-icon-button:active {
  opacity: 1;
}

.cat-icon-button.primary {
  background-color: var(--btn-icon-bg-primary);
  color: var(--btn-icon-c-primary);
}

.cat-icon-button.warning {
  background-color: var(--btn-icon-bg-warning);
  color: var(--btn-icon-c-warning);
}

.cat-icon-button.danger {
  background-color: var(--btn-icon-bg-danger);
  color: var(--btn-icon-c-danger);
}

.cat-icon-button.primary-inverse {
  background-color: var(--btn-icon-c-primary);
  color: var(--btn-icon-bg-primary);
}

.cat-icon-button.warning-inverse {
  background-color: var(--btn-icon-c-warning);
  color: var(--btn-icon-bg-warning);
}

.cat-icon-button.danger-inverse {
  background-color: var(--btn-icon-c-danger);
  color: var(--btn-icon-bg-danger);
}

.cat-icon-button.primary-bg-transparent {
  background-color: transparent;
  color: var(--btn-icon-bg-primary);
}

.cat-icon-button.warning-bg-transparent {
  background-color: transparent;
  color: var(--btn-icon-bg-warning);
}

.cat-icon-button.danger-bg-transparent {
  background-color: transparent;
  color: var(--btn-icon-bg-danger);
}

.cat-icon-button.primary-bg-transparent:hover,
.cat-icon-button.warning-bg-transparent:hover,
.cat-icon-button.danger-bg-transparent:hover {
  background-color: #ccc;
}

.cat-icon-button.primary-bg-transparent:active,
.cat-icon-button.warning-bg-transparent:active,
.cat-icon-button.danger-bg-transparent:active {
  background-color: #bbb;
}