<cat-toolbar [config]="getToolbarInfo()">
  <nav buttons>
    <cat-primary-button class="mr-5" catTooltip="left" catTooltipPosition="left"
      >Left</cat-primary-button
    >
    <cat-primary-button
      class="mr-5"
      catTooltip="right"
      catTooltipPosition="right"
      >Right</cat-primary-button
    >
    <cat-primary-button
      class="mr-5"
      catTooltip="above"
      catTooltipPosition="above"
      >Above</cat-primary-button
    >
    <cat-primary-button
      class="mr-5"
      catTooltip="below"
      catTooltipPosition="below"
      >Below</cat-primary-button
    >
  </nav>
</cat-toolbar>
