<cat-toolbar [config]="getToolbarInfo()">
  <nav buttons>
    <cat-primary-button catTooltip="left" catTooltipPosition="left"
      >Left</cat-primary-button
    >
    <cat-primary-button catTooltip="right" catTooltipPosition="right"
      >Right</cat-primary-button
    >
    <cat-primary-button catTooltip="above" catTooltipPosition="above"
      >Above</cat-primary-button
    >
    <cat-primary-button catTooltip="below" catTooltipPosition="below"
      >Below</cat-primary-button
    >
  </nav>
</cat-toolbar>
