.dropdown-menu {
  --bs-dropdown-bg: var(--bg-body);
  --bs-dropdown-link-color: var(--font-color);
  --bs-dropdown-link-hover-color: var(--c-dropdown-hover);
  --bs-dropdown-link-hover-bg: var(--bg-dropdown-hover);
  --bs-dropdown-link-active-color: var(--c-dropdown-active);
  --bs-dropdown-link-active-bg: var(--bg-dropdown-active);
  --bs-dropdown-border-color: var(--shadow-color);
  --bs-dropdown-divider-bg: var(--shadow-color);
  z-index: 1003;
}

.dropdown-menu .dropdown-item {
  color: var(--c-dropdown);
  transition: .1s;
}

.dropdown-menu .dropdown-item:hover {
  color: var(--c-dropdown-hover) !important;
  background-color: var(--bg-dropdown-hover) !important;
}

.dropdown-menu .dropdown-item:active {
  color: var(--c-dropdown-active) !important;
  background-color: var(--bg-dropdown-active) !important;
}

.dropdown-menu .dropdown-item i {
  color: var(--c-dropdown);
}

.dropdown-menu .dropdown-item:hover i {
  color: var(--c-dropdown-hover) !important;
}

.dropdown-menu .dropdown-item:active i {
  color: var(--c-dropdown-active) !important;
}