<cat-toolbar [config]="getToolbarInfo()">
  <nav buttons>
    <cat-dropdown class="mr-5" position="top">
      <cat-primary-button trigger>Top</cat-primary-button>
      <div content>
        <a class="dropdown-item" href="#">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown class="mr-5" position="top right">
      <cat-primary-button trigger>Top Right</cat-primary-button>
      <div content>
        <a class="dropdown-item" href="#">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown class="mr-5" position="top left">
      <cat-primary-button trigger>Top Left</cat-primary-button>
      <div content>
        <a class="dropdown-item" href="#">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown class="mr-5" position="left">
      <cat-primary-button trigger>Left</cat-primary-button>
      <div content>
        <a class="dropdown-item" href="#">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown class="mr-5" position="right">
      <cat-primary-button trigger>Right</cat-primary-button>
      <div content>
        <a class="dropdown-item" href="#">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown class="mr-5" position="bottom right">
      <cat-primary-button trigger>Bottom Right</cat-primary-button>
      <div content>
        <a class="dropdown-item" href="#">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown position="bottom left">
      <cat-primary-button trigger>Bottom Left</cat-primary-button>
      <div content>
        <a class="dropdown-item" href="#">Ok</a>
      </div>
    </cat-dropdown>
  </nav>
</cat-toolbar>
