<cat-toolbar [config]="getToolbarInfo()">
  <nav buttons>
    <cat-dropdown position="top">
      <cat-primary-button trigger>Top</cat-primary-button>
      <div content>
        <a class="dropdown-item">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown position="left">
      <cat-primary-button trigger>Left</cat-primary-button>
      <div content>
        <a class="dropdown-item">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown position="right">
      <cat-primary-button trigger>Right</cat-primary-button>
      <div content>
        <a class="dropdown-item">Ok</a>
      </div>
    </cat-dropdown>

    <cat-dropdown position="bottom">
      <cat-primary-button trigger>Bottom</cat-primary-button>
      <div content>
        <a class="dropdown-item">Ok</a>
      </div>
    </cat-dropdown>
  </nav>
</cat-toolbar>
