.cat-tooltip {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg-tooltip);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(13.5px);
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2);
  border-radius: 8px;
  color: var(--c-tooltip);
  padding: 8px 10px;
  font-size: 0.815rem;
  line-height: 0.815rem;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1080;
}

.cat-tooltip--visible {
  opacity: 1;
  transition: opacity 300ms;
}

.cat-tooltip--below {
  transform: translateX(-50%);
  margin-top: 7px;
}

.cat-tooltip--above {
  transform: translate(-50%, -100%);
  margin-bottom: 7px;
}

.cat-tooltip--left {
  transform: translate(calc(-100% - 7px), -50%);
}

.cat-tooltip--right {
  transform: translateY(-50%);
  margin-left: 7px;
}
